:root {
    --primary-font: 'Comfortaa';
    --secondary-font: 'Montserrat Alternates';

    // colors
    --primary-text-color: #FFFFFF;
    --accent-text-color: #E2FF70;

    // others
    --button-back-color: #385BB8;
    --accent-back-color: #E2FF70;
}