.gift__text {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.71;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width:1600px) {
        font-size: 2.4rem;
        max-width: 100.5rem;
    }
}