.gift .container {
    @media screen and (max-width:767px) {
        padding-top: 17rem;
    }
}

.gift__text {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.71;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width:1600px) {
        font-size: 2.4rem;
        max-width: 100.5rem;
    }

    @media screen and (max-width:1280px) {
        max-width: 61.6rem;
        line-height: 1.83;
        letter-spacing: 0.024rem;
        padding-top: 8rem;
    }

    @media screen and (max-width:767px) {
        padding-top: 0;
        font-size: 1.8rem;
    }
}