.how__title {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.21;
    margin-bottom: 7.5rem;

    @media screen and (max-width:1600px) {
        font-size: 4rem;   
        max-width: 70rem;
        margin: 0 auto 4.1rem auto;
    }
}

.how__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.how__line {
    position: absolute;
    height: .2rem;
    width: 100%;
    background-image: url(../img/section/screen3/line.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;
}

.how__image {
    width: 32.3rem;
    height: 32.3rem;
}