.how .container {

}

.how__title {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.21;
    margin-bottom: 7.5rem;

    @media screen and (max-width:1600px) {
        font-size: 4rem;   
        max-width: 70rem;
        margin: 0 auto 4.1rem auto;
    }

    @media screen and (max-width:1280px) {
        padding-top: 8rem;
        margin-bottom: 8.4rem;
        line-height: 1.45;
    }

    @media screen and (max-width:767px) {
        padding-top: 14.7rem;
        font-size: 2.8rem;
        line-height: 1.32;
        margin-bottom: 3.4rem;
    }
}

.how__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width:1280px) {
        justify-content: center;
        gap: 18rem;
    }

    @media screen and (max-width:767px) {
        flex-direction: column;
        gap: 6.6rem;
    }
}

.how__line {
    position: absolute;
    height: .2rem;
    width: 100%;
    background-image: url(../img/section/screen3/line.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;

    @media screen and (max-width:1280px) {
        background-size: 18rem;
    }

    @media screen and (max-width:767px) {
        transform: rotate(90deg);
        background-size: 6.6rem;
    }
}

.how__image {
    width: 32.3rem;
    height: 32.3rem;

    @media screen and (max-width:1280px) {
        width: 20.7rem;
        height: 20.7rem;
    }
}