.payment .container {
    @media screen and (max-width:767px) {
        padding-top: 16.1rem;
    }
}

.payment__title {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    max-width: 94.3rem;
    margin: 0 auto 1.9rem auto;

    @media screen and (max-width:1280px) {
        max-width: 64.3rem;
        margin-bottom: 0;
        padding-bottom: 4.2rem;
    }

    @media screen and (max-width:767px) {
        font-size: 2.6rem;
        padding-bottom: 3.2rem;
    }
}

.payment__icon {
    display: block;
    width: 7.6rem;
    height: 7.6rem;
    margin: 0 auto 3.6rem auto;

    @media screen and (max-width:1280px) {
        margin-bottom: 0;
    }
}

.payment__device {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 76.2rem;

    @media screen and (max-width:1280px) {
        position: relative;
        width: 65.3rem;
        padding-top: 7.3rem;
    }

    @media screen and (max-width:767px) {
        width: 100%;
        padding-top: 5.9rem;
    }

    img {
        max-width: 100%;
    }
}