.step .container {
    @media screen and (max-width:767px) {
        padding-top: 13.7rem;
    }
}

.step__title {
    text-align: center;
    margin-bottom: 4.7rem;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.15;

    @media screen and (max-width:1280px) {
        margin-bottom: 2.5rem;
    }

    @media screen and (max-width:767px) {
        font-size: 2.8rem;
        margin-bottom: 2.2rem;
    }
}

.step__line {
    position: relative;
    height: .7rem;
    border-radius: .4rem;
    background: rgba(255, 255, 255, 0.02);

    @media screen and (max-width:1280px) {
        width: 51.3rem;
        margin: 0 auto;
    }

    @media screen and (max-width:767px) {
        width: 100%;
    }
}

.step__active {
    height: .7rem;
    width: calc(100% / 4);
    border-radius: .4rem;
    background: #3E69CD;
    position: absolute;
}

.step__second .step__active {
    transform: translateX(100%);
}

.step__third .step__active {
    transform: translateX(200%);
}

.step__fourth .step__active {
    transform: translateX(300%);
}

.step__text {
    max-width: 104rem;
    margin: 14.6rem auto 7.3rem auto;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.5;

    @media screen and (max-width:1600px) {
        font-size: 2.9rem;
        max-width: 90.9rem;
    }

    @media screen and (max-width:1280px) {
        margin: 0 auto;
        padding: 12.6rem 0 4rem 0;
        max-width: 56.7rem;
    }

    @media screen and (max-width:767px) {
        font-size: 2rem;
        line-height: 1.65;
        letter-spacing: 0.02rem;
        padding: 12.2rem 0 3.3rem 0;
    }
}

.step__subtitle {
    margin-top: 4.4rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 7rem;

    @media screen and (max-width:1280px) {
        padding: 6.6rem 0 8rem 0;
        margin: 0;
    }

    @media screen and (max-width:767px) {
        padding: 6.9rem 0 5.4rem 0;
        font-size: 2.8rem;
        line-height: 1.6;
    }
}

.step__fourth .step__subtitle {
    font-family: var(--secondary-font);
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 4.1rem;

    @media screen and (max-width:1600px) {
        font-size: 3.2rem;
        margin-bottom: 3.3rem;
        line-height: 1.55;
    }

    @media screen and (max-width:1280px) {
        max-width: 65.6rem;
        margin-bottom: 0;
        margin: 0 auto;
    }

    @media screen and (max-width:767px) {
        font-size: 2.6rem;
        line-height: 1.73;
        max-width: 30rem;
        padding: 3.6rem 0 4.4rem 0;
    }
}

.step__button {
    display: flex;
    width: 57rem;
    height: 14.2rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.14;
    text-decoration-line: underline;

    background-color: var(--button-back-color);
    border-radius: 9.8rem 1.5rem;

    @media screen and (max-width:1600px) {
        width: 39.2rem;
        height: 9.8rem;
        font-size: 2.3rem;
        gap: 2.2rem;

        & img {
            width: 2rem;
            height: 2.2rem;
        }
    }

    @media screen and (max-width:767px) {
        width: 100%;
        height: 7.3rem;
        text-decoration: none;
        box-shadow: 0rem .27rem 2rem 0rem rgba(63, 104, 210, 0.37);

        & img {
            display: none;
        }
    }
}

.step__screenshot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width:1280px) {
        position: relative;
    }
}

.step__device {
    max-width: 77.6rem;

    @media screen and (max-width:1280px) {
        max-width: 65.3rem;
    }

    @media screen and (max-width:767px) {
        max-width: 100%;
    }
}

.step__third .step__screenshot {
    bottom: -5rem;

    @media screen and (max-width:1280px) {
        bottom: auto;
    }
}

.step__see {
    display: none;
}

.step__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;

    @media screen and (max-width:767px) {
        gap: 1.8rem;
    }
}

.step__item {
    padding: 3.5rem;
    border-radius: 4rem;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(27.5px);

    @media screen and (max-width:767px) {
        padding: 2.4rem;
        border-radius: 2.8rem;
    }

    & .step__icon {
        @media screen and (max-width:767px) {
            width: 4.6rem;
            height: 4.6rem;
        }
    }
}